.todo-container {
	width: 400px;
	height: 600px;
	top: 10px;
	bottom: 10px;
	background-color: rgba(255, 255, 255, 0.534);
	box-shadow: rgba(0, 0, 0, 0.438) 0px 3px 8px;
	position: relative;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	overflow: hidden;
	font-family: "Oswald", sans-serif;
	margin: auto;

	.todo-header {
		padding: 20px;
		display: flex;
		justify-content: space-around;
	}

	.todo-count {
		align-self: center;
	}

	.todo-body {
		flex-grow: 1;
		max-height: 600px;
		overflow-x: hidden;
	}

	.todo-task-items {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0 20px;
		justify-content: space-between;
	}
	.task-buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		padding-right: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.todo-form {
		margin-bottom: 10px;
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.todo-input {
		display: block;
		height: 40px;
		font-size: 15px;
		border: 1px solid #dce4ec;
		width: 100%;
		margin-right: 15px;
		border-radius: 2em;
		// padding: 5px 10px;
		transition: border 250ms ease-out;
	}

	.todo-complete-button {
		// cursor: pointer;
		font-size: 20px;
		color: green;
		margin: 5px;
		// padding: 10px 20px;
		border-radius: 2em;
		background: none;
		border: none;
		// border: 1px solid;
		transition: 250ms ease-out;
	}
	.todo-delete-button {
		// cursor: pointer;
		color: red;
		font-size: 15px;
		// padding: 10px 20px;
		margin: 5px;
		border: none;
		// border-radius: 2em;
		background: none;
		// border: 1px solid;
		transition: 250ms ease-out;
	}
	.todo-add-button {
		margin-left: 5px;
		font-size: 2.5em;
		color: rgb(62, 177, 62);
	}

	.create-task {
		display: flex;
		justify-content: center;
		width: 95%;
		padding: 5px;
		align-items: center;
	}

	.checked {
		font-size: 0.9em;
		color: rgb(124, 124, 114);
		text-decoration: line-through;
	}
}
