.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  overflow: auto;
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      z-index: -1;
      object-fit: cover;
      margin: 0;
    }
    h1 {
      margin: 0;
      font-size: 20px;
    }

    hr {
      width: 80%;
    }
  }

  .instructions {
    margin: 10px;

    ol {
      margin-bottom: 40px;
    }
  }

  .ingredients {
    display: flex;
    flex-direction: column;
    margin: 10px;
    ul {
      list-style-type: none;
    }
    button {
      align-self: center;
    }

    .buttonCheck {
      color: #3dd338;
    }
  }
}
