.recipe-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  margin: auto auto;
  width: 90vw;

  .recipe-item {
    text-align: center;
    border-radius: 10px;
    width: 40vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: center;
    margin: 5px;

    img {
      width: 100%;
      margin: 0 auto;
      object-fit: contain;
    }

    h4 {
      margin: 10px;
    }
    button {
      margin: 5px;
      text-decoration: none;
    }
  }
}
