.recipe-item {
  position: relative;
  text-align: center;
  border-radius: 10px;
  width: 40vw;
  box-shadow: rgba(0, 0, 0, 0.438) 0px 3px 8px;
  justify-content: center;
  margin: 5px;
  padding-bottom: 50px;

  img {
    width: 100%;
    margin: 0 auto;
    object-fit: contain;
  }

  p {
    font-size: 0.9em;
    padding: 0px 5px;
  }
  button {
    margin: 5px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 20%;
  }
}
