.chart_container {
	width: 400px;
	max-height: 570px;
	top: 10px;
	bottom: 10px;
	background-color: #fff7e7a1;
	box-shadow: 0 20px 80px rgba(121, 93, 0, 0.226);
	position: relative;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	overflow-y: auto;
	.title {
		display: flex;
		justify-content: center;
	}
	.members {
		display: flex;
		justify-content: space-around;
		padding-top: 10px;
		padding-bottom: 10px;
		// border: solid blue;
		align-items: flex-end;
	}
	.fam_names {
		display: flex;
		flex-direction: row;
		// border: solid red;
		justify-content: space-around;
		align-items: flex-start;
	}
	.card {
		margin-bottom: 5em;
		margin-top: 5em;
	}
}
