.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.grid-container {
  height: 80vh;
  width: 95vw;
  display: grid;
  grid-template-columns: 1fr, repeat(4);
  margin: auto auto;
}
.one {
  border-radius: 10px;
  height: 15vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}

.two {
  border-radius: 10px;
  height: 25vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}

.three {
  height: 25vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}
