.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #ddd8f8,
    #494883,
    #494883,
    #494883,
    #494883,
    #494883,
    #ddd8f8,
    #ffffff
  );
  width: 100%;
  height: 100%;
}

.grid-container {
  height: 87vh;
  width: 95vw;
  display: grid;
  grid-template-columns: 1fr, repeat(4);
  gap: 10px;
}

.one {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}

.two {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}

.three {
  height: 30vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  background-color: #fff;
}
