.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	// background-image: url("./images/newback.png");

	// background-color: #faf4ebdc;
	background-color: #faf4ebdc;
	background-repeat: no-repeat;
	background-size: 415px 736px;

	.grid-container {
		height: 87vh;
		width: 95vw;
		display: grid;
		grid-template-columns: 1fr, repeat(4);
		gap: 10px;
	}

	// .one {
	// 	border-radius: 10px;
	// 	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	// 	background-color: #fff;
	// }

	// .two {
	// 	border-radius: 10px;
	// 	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	// 	background-color: #fff;
	// }

	// .three {
	// 	height: 30vh;
	// 	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	// 	border-radius: 10px;
	// 	background-color: #fff;
	// }

	// .four {
	// 	height: 30vh;
	// 	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	// 	border-radius: 10px;
	// 	background-color: #fff;
	// }

	// .five {
	// 	height: 30vh;
	// 	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	// 	border-radius: 10px;
	// 	background-color: #fff;
	// }

	.header {
		color: white;
		height: 5vh;
		width: 100%;
		text-align: center;
		background-color: #303960;
		font-size: 15px;
		margin: 0;
		border-radius: 5px 5px 0px 0px;
	}
}
