@import "~react-agenda/build/styles.css";
@import "~react-datetime/css/react-datetime.css";

i {
  font-size: 24px !important;
}

#root > div > div.content-expanded {
}
#agenda-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  max-height: 80vh;
}
