.grid-container {
	display: grid;
	margin-top: 60px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 100%;
	max-height: 750px;
	margin: auto;
}
// .family-name {
// 	display: flex;
// 	justify-content: flex-end;
// 	align-items: center;
// 	border: solid 1px black;
// }
.one {
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	grid-column-start: 1;
	grid-column-end: 3;
	margin-top: 5px;
	flex-direction: row;
	// background-color: rgba(238, 177, 155, 0.308);
	// background-image: url("./images/userDash.png");
	box-shadow: rgba(0, 0, 0, 0.438) 0px 3px 8px;

	// background-color: #faaf08;

	.dash-log {
		border-radius: 50%;
		width: 60px;
		height: 60px;
		box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
		margin-bottom: 125px;
		margin-right: 10px;
	}
	.current {
		padding-left: 10px;
	}
	.user-home-text {
		padding-left: 10px;
		font-family: "Oswald", sans-serif;
	}
}

.two {
	height: 200px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	background-color: #183aa9;
	color: white;

	background-repeat: no-repeat;
	background-image: url("./images/Todo.png");
	box-shadow: rgba(0, 0, 0, 0.438) 0px 3px 8px;
}

.three {
	border-radius: 15px;
	height: 200px;
	display: flex;
	justify-content: center;
	background-repeat: no-repeat;
	background-image: url("./images/Survey.png");
	box-shadow: rgba(0, 0, 0, 0.438) 0px 3px 8px;
}

.four {
	border-radius: 15px;

	display: flex;
	justify-content: center;
	background-color: #5b39b0;
	height: 200px;

	background-repeat: no-repeat;
	background-image: url("./images/GroceryList.png");
	box-shadow: rgba(0, 0, 0, 0.438) 0px 3px 8px;
}
.five {
	border-radius: 15px;

	display: flex;
	justify-content: center;
	background-color: yellow;
	height: 200px;
	background-repeat: no-repeat;
	box-shadow: rgba(0, 0, 0, 0.438) 0px 3px 8px;
	background-image: url("./images/CookBook.png");
}
