.top-nav {
	display: flex;
	align-items: center;
	width: 100vw;
	height: 10vh;
	justify-content: space-between;
	width: 100vw;
	height: 8vh;
	margin-top: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin-top: 0;
	opacity: 0.9;
	background-color: #56ca85;
	color: black;
	font-family: "Oswald", sans-serif;
	position: sticky;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	h2 {
		font-size: 15px;
		font-weight: 400;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	.Logo {
		padding-left: 10px;
		height: 90px;
		width: 200px;
	}
	.icon-container {
		display: flex;
		flex-direction: row-reverse;
	}
}
