.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 8vh;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: #f2a154;
  color: #fff;

  h1 {
    margin-block-start: 0;
    font-size: 1.5em;
    margin: 0;
    color: #000;
  }
  .message {
    font-size: 1em;
    margin-right: 20px;
  }

  h2 {
    font-size: 15px;
    font-weight: 400;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
