#contact-style {
  z-index: 2;
  color: #fff;
  background-color: #56ca85;
  border-color: #fffcfc;
  padding: 2px;
  padding-left: 15px;
  top: 30px;
}

// element.style {
//   background-color: rgb(86, 202, 133);
//   margin-top: 30px;
//   padding: 0px;
// }

#fromme {
  background-color: #56ca85;
}

#special {
  color: red;
}
