#layout {
  width: 100%;
}

#video {
  position: fixed;
  z-index: -10;
  width: 100%;
  margin: 0;
  opacity: 90%;
}

/* container {
  position: fixed;
  z-index: 10 !important;
} */
.top-nav {
  margin-bottom: 0;
}
#title {
  color: white;
  font-size: 18px;
  justify-content: center;
  font-weight: 900;
}
#video_box {
  position: fixed;
  z-index: -10;
  width: 100%;
  margin: 0;
}

#video_overlays {
  position: fixed;
  top: 125px;
  left: 80px;
  width: 500px;
  min-height: 500px;
  /* background-color: #000; */
  z-index: 300000;
}
