.Top-nav {
  border-radius: 5px 5px 0px 0px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #ffffff;
  font-size: 15px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border: solid black;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  padding: 1.3em;
  font-size: 1.2em;
  color: black;
}
