.list-item {
  display: flex;
  text-align: center;
  align-items: center;

  .button {
    margin-right: 10px;
  }

  .buttonCheck {
    color: #3dd338;
  }

  .item {
    display: block;
    justify-self: center;
  }
  .checked {
    font-size: 0.9em;
    color: rgb(124, 124, 114);
    text-decoration: line-through;
  }

  .selected {
    justify-self: flex-start;
    border-radius: 50%;
    height: 15px;
    width: auto;
    text-decoration: line-through;
    font-size: 0.5em;
  }
}
