.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  .list-item {
    display: flex;
    align-items: center;
    width: 80%;

    .button {
      margin-right: 10px;
    }

    .buttonCheck {
      color: #3dd338;
    }

    .item {
      justify-self: center;
      width: 80%;
      margin: 0;
    }
    .checked {
      font-size: 0.9em;
      color: rgb(124, 124, 114);
      text-decoration: line-through;
    }
  }
  .delete {
    color: red;
    justify-self: end;
    margin: 30px;
  }
}
