.winner {
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  color: white;
  margin: 0;

  .header {
    width: 100%;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      margin: 10px;
      font-size: 1em;
      text-align: center;
    }
  }
  .buttons {
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-evenly;

    Button {
      font-size: 10px;
      margin: 1px;
      padding: 2px 5px;
    }
    a {
      text-decoration: none;
    }
  }

  p {
    font-size: 1em;
  }
}
