.login-container {
	display: flex;
	height: 100%;
	width: 100%;

	flex-direction: column;
	// background-image: url(../Login/loginimage.png);
	background-color: #fff7e7;

	.login-logo {
		display: flex;
		padding-top: 150px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.login-button {
		display: flex;
		justify-content: center;
		font-family: "Oswald", sans-serif;
		color: #a35d3c;
	}
}
